

body {
  background-color: black;
}

.subBody{
    background-color: rgb(25,28,28);
    border: 3px solid #383e42;
    border-radius: 25px;
    position: absolute;
    top: 170px;
    left: 270px;
    width: 77%;
}

.title{
    color: #383e42;
    padding: 20px;
}

/*-------------------------------------------------------*/
/*                       TABLE                           */
/*-------------------------------------------------------*/

#table_wrap {
  background-color: #383e42;

} 
#myInput {
    background-image: url('../images/searchicon.png');
    background-color: #E8EEFC;
    background-size:23px;
    background-position: 10px 2px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 17px;
    padding: 2px 2px 2px 40px;
    border: 3px solid #383e42;
    border-radius: 25px;
    margin-bottom: 12px;
}

#myTable th {
  text-align: left;
  padding: 20px;
}

.container-fluid {
  position: absolute;
    margin: auto;
    left: 250px;
    width: 80%;
    border: 20px solid gray;
    border-radius: 25px;
    padding: 30px;
}

#myTable tbody{
  display:block;
  overflow:auto;
  height:200px;
  
}

#myTable thead tr{
    background-color: gray;
    display:block;
    border: 3px solid #383e42;
    border-radius: 25px;

 
}

thead th {
    width:297px;
    text-align: left;
    padding: 9px; /* 10px top & bottom padding, 0px left & right */
    border: 3px solid transparent;
    
}




table tr td:nth-child(5) { width:26%; } /*Fit table to Card when window stretchs*/

th, td {

    min-width: 176px;
    padding: 1px;
    text-align: left;
    border-bottom: 1px solid gray;
}

tbody tr:hover {
    background-color:#f5fff5;
}
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
}

table {

  border: 1px solid #ccc;
  border-collapse: collapse;
 
  padding: 0;
  width: 100%;
  table-layout: fixed !important;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}

/*-------------------------------------------------------*/
/*                       BUTTONS                         */
/*-------------------------------------------------------*/

button {
    position:absolute;
    transition: .5s ease;
    top: auto;
    left: auto;
}
