<head>
    <script type="text/javascript" src="/js/hide_history.js"></script>
    <title>Interface test</title>
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link href="css/main.css" rel="stylesheet" media="all">
    <link rel="stylesheet" type="text/css" href="/css/search_style.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">

</head>
    <form action="/users/logout" method="¨POST">
        <div>
            <img id="cia" src="/images/inta.png" alt="Logo" class="logo">
            <nav class= "w3-bar w3-animate-right w3-center" id="nav_bar">
                    <button class="w3-button w3-circle" id="side_O"></button>
                    <a href="file:///Users/BLHA/Desktop/ALGO/newSite/index.html" class="w3-button w3-bar-item w3-animate-left">Acceuil</a> 
                    <a href="#presentation" class="w3-button w3-bar-item w3-animate-right">Service</a>
                    <a href="#blog" class="w3-button w3-bar-item w3-animate-top">Blog</a>
                    <a href="#prise_De_rdv" class="w3-button w3-bar-item w3-animate-bottom">Prise de rdv</a>
                    <a href="#contact" class="w3-button w3-bar-item w3-animate-bottom">Contact</a>
                    <a href="#newsletters" class="w3-button w3-bar-item w3-animate-bottom">NewsLetters</a>
           </nav>
            <div class="wrapper">
                <div class="card card-1" id="card-head">
                    <div class="card-heading" id="card-heading"></div>
                    <button class="w3-button" id="btn_messaging"> Messages</button>
                    <img id="img_messaging" src="/images/messaging.png" alt="Logo" class="logo">
                    <button class="w3-button" id="btn_mailing"> Mails</button>
                    <img id="img_mailing" src="/images/mailing.png" alt="Logo" class="logo">

            
                        
                 </div>
        </div>
    </form>
