@import 'reset.css';

body{
	background: rgb(25,28,28);
}

 header{
	background: rgb(20,28,28);
}

a{
	box-sizing: border-box;
	width: 25%;
	display: inline-block;
	margin-left: -3px;
	text-align: center;
	padding: 12px;
	color:red;
}

.fa{
	color:lightgray;
	font-size: 25px;  
}

